<div class="hero-unit">
  <h1>This is Maddie's first Yeoman/Angular App!</h1>
  <p>These guys: </p>
    <a href="#" class="dropdown-toggle" ng-click="main.toggleList()">
      Click me to see what's installed!
    </a>
      <div ng-show="main.showList">
        <ul>
        <!-- Here we use the AngularJS directive: ng-repeat to loop through our awesomeThings 
        and print them out as list items using the {{}} bindings -->
          <li ng-repeat="thing in main.awesomeThings">
            <a>{{thing}}</a>
          </li>
        </ul>
      </div>
    <p>are installed.</p>
    <h3>Fun times using AngularJS!</h3>
</div>