<div class="hero-unit">
  <h2>This is my first Yeoman/Angular App!</h2>

    <a href="#" class="dropdown-toggle" ng-click="main.toggleList()">
      <h5>Click me to see the days of the week in Greek!</h5>
    </a>
      <div ng-show="main.showList">
        <ul>
        <!-- Here we use the AngularJS directive: ng-repeat to loop through our awesomeThings 
        and print them out as list items using the {{}} bindings -->
          <li ng-repeat="thing in main.awesomeThings">
            <h3>{{thing}}</h3>
          </li>
        </ul>
      </div>

    <h5>Pretty exciting stuff, no?</h5>
</div>